@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

html,
body,
:root{height: 100%;
  background-color: #000000;
  color-scheme: dark;
}

.body::-webkit-scrollbar {
  @apply hidden;
}

.body__shuffle {
  @apply text-[80px] ml-[50px] my-5 hover:transition-[100ms] hover:duration-[transform] hover:ease-[ease-in] hover:scale-[1.08];
}

.body__background {
  @apply absolute opacity-40 h-4/5 w-4/5 bg-[black] right-0 top-[13vh];
}



